:root {
  --heute-color: #3b9333; 
  --active-color: #e3f6d8;
  --taskcolor-color: #c7e0b2;
  --event-color: #c7e0b2; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #e3f6d8;
  }
  .header {
    width: 100vw;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e3f6d8;
  }
  .icon {
    width: 25px;
    height: 25px;
    position: absolute;
    left:10px;
    top: 10px;
  }
  .layout {
    display: flex;
    gap: 10px;
    position:absolute;
    top: 40px;
    left: 40px;
    width: calc(100vw - 60px);
    height:calc(100vh - 60px);
  }
  .box {
    flex:1; 
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgb(171, 169, 169);
    overflow: auto;
  }
  .statistikAnsicht{
    display: none;
  }
  .statistikAnsicht.active{
    background-color: white;
    display:flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
  }
  .aufgabenProTag{
    background-color: whitesmoke;
    width: 100%;
    height: 100%; /* wieder auf 50% wenn kreisdiagramme eingefügt werden*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .kreisDiagramme{
    visibility: hidden; /*weg damit wenn kreisdiagramme eingefügt werden*/
    background-color: whitesmoke;
    width: 100%;
    height: 50%;
  }
  .ueberschirift{
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: 600;
  }
  .balkenDiagramm{
    width: 100%;
    height: auto;
    max-height: 500px;
    min-height: 200px;
    background-color: white
  }

  .chart{
    width: 100%;
    height:100%;
  }
  .monatUndPfeile{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .monatUndPfeileInhalt{
    padding: 10px;
  }
  .MM, .WW{
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgb(198, 196, 196);
    border: none;
    height: 30px;
  }
  .MM:hover, .WW:hover{
    background-color: rgb(229, 229, 229);
  }
  .MM:active, .WW:active{
    background-color: whitesmoke;
  }
  .currentmonthForStatistics{
    height:15px;
    font-size: large;
    color:#888996;
    transform: translateY(-10%);
  }
  
  .anzeige{
    display: none;
  }
  .anzeige.active{
    display: block;
    position: relative;
    width: 250px;
    background-color: #e3f6d8;
    padding: 5px;
    border-radius: 12px;
    overflow-y: auto;
  }
  .angeklicktesDatum{
    margin-left: 10px;
    margin-top: -20px;;
    height:15px;
    padding: 20px 0;
    font-size: large;
    color:#888996;
  }
  .noEvents{
    margin-left: 10px ;
    padding: 20px 0;
    font-size: large;
    color:#888996;
  }
  .task{
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    background: linear-gradient(90deg,#f5fff0, transparent );
    width: auto;
    height: auto;
    min-height: 40px;
  }
  .task:hover{
    background: linear-gradient(90deg,var(--taskcolor-color), transparent );
  }
  .headerVonTask{
    display: flex;
    flex-direction: row;
    justify-content:left;
    width: 100%;
  }
  .name{
    font-weight: bold;
    padding: 5px;
    margin-right: 70px;
    word-wrap: break-word;
    white-space: normal;

  }
  .time{
    padding: 5px;
    color: #a2a3b3;
  }
  .uncomplete{
    padding: 7px;
    
  }
  .complete{
    padding: 7px;
  }
  .beschreibung{
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
  }
  .tag{
    padding: 5px;
    width:fit-content;
    border: 2px solid #c3e8a5;
    border-radius: 10px;
    background-color: #c3e8a5;
  }
  .add{
    all: unset;
    background-color: white;
    position:fixed; 
    bottom: 10px;
    right: 180px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: large;
    box-shadow: 2px 2px 10px rgb(171, 169, 169);
  }
  .addeventbox.active{
    position: fixed;
    bottom: 10px;
    right:180px;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(171, 169, 169);
  }
  .addeventbox.closed{
    display:none;
  }
  .popup-content{
    border-radius: 15px;
    width: 95%;
    height: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    
  }
  .popup-content input::placeholder{
    color:#888996;
    font-family:'Poppins', Times, serif;
    font-weight: 500;
  }

  .popup-content input:focus{
    border-color: #4b4b4b;
  }
  
  .popup-content input{
    color:#4b4b4b;
    font-family:'Poppins', Times, serif;
    font-weight: 500;
    
  }
 
  .hinzufuegen{
    all: unset;
    position: absolute;
    bottom:15px;
    left: 10px;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(171, 169, 169);
    
  }
  .eventinput{
    border: none;
    outline: none; 
    border-bottom: 1px solid rgb(194, 193, 193);
    padding: 5px;
    color: #888996;
    font-weight: 4;
  }
  .selectionOption{
    color: #797878;
    font-family:'Poppins', Times, serif;
    font-weight: 500;
  }

  .menu {
    position: relative;
    top:0px;
    right:0px;
    width: 150px;
    background-color: #e3f6d8;
    padding: 0px;
    border-radius: 12px;
  }

  .seitenoption {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 20px;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(171, 169, 169);
    margin-bottom: 20px;
  
  }
  .seitenoption:hover{
    background-color: rgb(238, 235, 235);
  }
  .seitenoption:active{
    background-color: white;
  }
  
  .wochenansicht{
    display: none;
  }
  .woche{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    padding: 10px;
    min-width: 900px;
    
  }
  .wochentag{
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow:2px 2px 10px rgb(200, 199, 199) ;
   
  }
  .todos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    padding: 10px;
    height:calc(100vh - 200px);
    overflow-y: auto;
    min-width: 900px;
  

  }
  .wochentodos{
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow:2px 2px 10px rgb(200, 199, 199) ;
  }
  .monatsheader{
    display: grid;
    grid-template-columns: repeat(7,1fr) ;
    gap:10px;
    padding: 2px;
  }
  .monatswochentag{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    box-shadow:2px 2px 10px rgb(200, 199, 199) ;
    width: 80px;
    text-align: center;

  }
  .monatsansicht{
    display: none;
  }
  .monatsansicht.active{
    display: block;
    width: 100%;
    height: 100%;
  }
  .currentmonth{
    text-align: center;
    margin-top: -30px;;
    height:15px;
    padding: 20px 0;
    font-size: larger;
    color:#a2a3b3;
  }
  .monat{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap:10px;
    padding: 2px;
  }
  .day {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow:2px 2px 10px rgb(200, 199, 199) ;
    height: 80px;
    width:80px;
    text-align: left;
    font-size: small;
  
  }
  .day:hover{
    background-color: rgb(240, 239, 239);
  }
  .day.active{
    background-color: var(--active-color) ;
    color: white;
  }
  .day.event{
    position: relative;
  }
  .day.event::after{
    content:" ";
    position: absolute;
    bottom: 10%;
    height:8px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: var(--event-color);
  }
  .heute{
    border-style:groove;
    border-width: 2px;
    border-color: var(--heute-color);
  }

  .notAktuell{
   color: #a2a3b3;
  }
  
  .wechsel{
    position: absolute;
    bottom: 0px;
    left: 0px;
    
  }
  .M, .W{
    all: unset;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(171, 169, 169);
    text-align: center;
  }
  .today{
    all: unset;
    height: 15px;
    padding: 5px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(171, 169, 169);
    text-align: center;
  }
  .today:hover,.W:hover,.M:hover, .add:hover, .hinzufuegen:hover {
    background-color: rgb(238, 235, 235);
  }
  .today:active,.W:active,.M:active, .add:active, .hinzufuegen:active{
    background-color: white;
  }
  
  
 
  


  
  